<%= form_for @celula, :html => {:class => "form-horizontal"} do |f| %>

        <%= render 'layouts/erros', object: @celula %>

    <div class="form-group">
        <label class="col-lg-1 control-label">Descrição</label>
        <div class="col-lg-11">
            <%= f.text_field  :descricao, class: 'form-control', placeholder: 'Descrição'  %>
        </div>
    </div>

    <div class="form-group">
      <%= f.label :sub_equipe_id, 'Sub Equipe', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-lg-5">
        <%= f.select :sub_equipe_id, options_for_select(@sub_equipes.collect { |se|
          [se.descricao.titleize, se.id] }, 0), {}, { class: 'form-control' } %>
      </div>

      <%= f.label :responsavel_id, 'Responsável', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-lg-5">
        <%= f.select :responsavel_id, options_for_select(@membros.collect { |m|
          [m.pessoa.nome.titleize, m.id] }, 0), {}, { class: 'form-control' } %>
      </div>
    </div>

    <%= link_to 'Listar', celulas_path, class: 'btn btn-blue' %>

    <%= f.submit class: 'btn btn-blue' %>

<% end %>
