<%= bootstrap_form_tag url: '/filtrar' do |f| %>

    <div class="form-group">
      <div class="col-sm-12 text-right" style="padding-bottom: 5px">
        <%= link_to new_celula_path, title: 'Novo', class: 'btn btn-success btn-circle btn-xs' do %>
            <%= fa_icon 'plus' %>
        <% end %>
      </div>
      <div class="col-sm-12">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Descrição </th>
            <th>Sub Equipe</th>
            <th>Equipe</th>
            <th>Rede</th>
            <th>Igreja</th>
            <th>Responsável</th>
            <th width="20"></th>
            <th width="20"></th>
            <th width="20"></th>

          </tr>
          </thead>

          <tbody>
          <% @celulas.each do |celula| %>
              <tr>
                <td><%= celula.id %></td>
                <td><%= celula.descricao %></td>
                <td><%= celula.sub_equipe %></td>
                <td><%= celula.sub_equipe.equipe %></td>
                <td><%= celula.sub_equipe.equipe.rede %></td>
                <td><%= celula.sub_equipe.equipe.rede.igreja %></td>
                <td><%= celula.responsavel.pessoa.nome unless celula.responsavel.nil? %></td>
                <td>
                  <%= link_to celula, title: 'Visualizar', class: 'btn btn-default btn-xs icon-only' do %>
                      <%= fa_icon 'search' %>
                  <% end %>
                </td>
                <td>
                  <%= link_to "/celulas/#{celula.id}/membros/new", title: 'Adicionar membros', class: 'btn btn-default btn-xs icon-only' do %>
                      <%= fa_icon 'users' %>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_celula_path(celula), title: 'Editar', class: 'btn btn-default btn-xs icon-only' do %>
                      <%= fa_icon 'pencil' %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

<% end %>