<form action="" class="form-horizontal">

  <div class="form-group">
    <%= label_tag :igreja, nil, class: 'col-md-1 control-label no-padding-right' %>
    <div class="col-md-5">
      <%= text_field_tag :igreja, @celula.sub_equipe.equipe.rede.igreja, class: 'form-control', disabled: 'disabled' %>
    </div>

    <%= label_tag :resposavel, 'Responsável', class: 'col-md-1 control-label no-padding-right' %>
    <div class="col-md-5">
      <%= text_field_tag :resposavel, @celula.responsavel.pessoa.nome, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :rede, nil, class: 'col-md-1 control-label no-padding-right' %>
    <div class="col-md-3">
      <%= text_field_tag :rede, @celula.sub_equipe.equipe.rede, class: 'form-control', disabled: 'disabled' %>
    </div>

    <%= label_tag :equipe, nil, class: 'col-md-1 control-label no-padding-right' %>
    <div class="col-md-3">
      <%= text_field_tag :equipe, @celula.sub_equipe.equipe, class: 'form-control', disabled: 'disabled' %>
    </div>

    <%= label_tag :sub_equipe, 'Sub equipe', class: 'col-md-1 control-label no-padding-right' %>
    <div class="col-md-3">
      <%= text_field_tag :sub_equipe, @celula.sub_equipe, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :descricao, 'Descrição', class: 'col-md-1 control-label no-padding-right' %>
    <div class="col-md-11">
      <%= text_field_tag :descricao, @celula.descricao, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>

  <div class="form-title">
    Membros
  </div>

  <div class="form-group">
    <% @celula.membros.each do |m| %>
        <div class="col-sm-3">
          <div class="databox bg-whitesmoke radius-bordered">
            <div class="databox-left no-padding">
              <%= image_tag 'saradmin/default-profile.png', style: 'width:65px; height:65px;' %>
            </div>
            <div class="databox-right padding-top-20">
              <div class="databox-text darkgray"><%= m.pessoa.nome %></div>
              <div class="databox-text darkgray"><%= m.cargo.descricao %></div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  
  <%= link_to 'Listar', celulas_path, class: 'btn btn-blue' %>
  <%= link_to 'Editar', edit_celula_path(@celula), class: 'btn btn-blue' %>

</form>