<%= bootstrap_form_for(@equipe, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-sm-11') do |f| %>

    <%= render 'layouts/erros', object: @equipe %>

    <div class="form-group">

      <%= label_tag :igreja_id, nil, class: 'col-sm-1 control-label no-padding-right' %>
      <div class="col-md-5">
        <%= select_tag :igreja_id, nil, {class: 'form-control'} %>
      </div>

      <div class="col-lg-6">
        <%= f.select :rede_id, [], {label_col:'col-sm-2', control_col: 'col-sm-10', label_class: 'no-padding-right'} %>
      </div>

    </div>

    <div class="form-group">

      <div class="col-lg-6">
        <%= f.text_field :descricao, label: 'Descrição', placeholder: 'Descrição', label_col:'col-sm-2', control_col: 'col-sm-10', label_class: 'no-padding-right' %>
      </div>

      <div class="col-lg-6">
        <%= f.select :responsavel_id, [], {label_col:'col-sm-2', control_col: 'col-sm-10', label_class: 'no-padding-right'} %>
      </div>

    </div>

    <%= link_to 'Listar', equipes_path, class: 'btn btn-blue' %>

    <%= f.submit class: 'btn btn-blue' %>

<% end %>
