<%= bootstrap_form_for(@equipe, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-sm-11') do |f| %>

    <%= hidden_field_tag :arquivo, 'new-edit-form' %>

    <%= hidden_field_tag :id_responsavel, unless @equipe.responsavel.nil? then @equipe.responsavel.id else 0 end %>

    <% unless @equipe.rede.nil? then %>
        <%= hidden_field_tag :id_rede, @equipe.rede.id %>
        <%= hidden_field_tag :id_igreja, @equipe.rede.igreja.id %>
    <% else %>
        <%= hidden_field_tag :id_rede, 0 %>
        <%= hidden_field_tag :id_igreja, 0 %>
    <% end %>

    <div class="form-group">

      <%= label_tag :igreja_id, nil, class: 'col-sm-1 control-label no-padding-right' %>
      <div class="col-sm-3">
        <%= select_tag :igreja_id, nil, {class: 'form-control'} %>
      </div>

      <div class="col-sm-4">
        <%= f.select :rede_id, [], {label_col:'col-sm-3', control_col: 'col-sm-9', label_class: 'no-padding-right'} %>
      </div>

      <div class="col-sm-4">
        <%= f.select :responsavel_id, [], {label_col:'col-sm-3', control_col: 'col-sm-9', label_class: 'no-padding-right'} %>
      </div>

      <div class="col-sm-12">
        <%= f.text_field :descricao, label: 'Descrição', placeholder: 'Descrição', label_class: 'no-padding-right' %>
      </div>

    </div>

    <%= link_to 'Listar', equipes_path, class: 'btn btn-blue' %>

    <%= f.submit class: 'btn btn-blue' %>

<% end %>
