<p id="notice"><%= notice %></p>

<%= link_to 'Cadastrar', new_equipe_path, class: 'btn btn-success' %>


<table class="table table-hover table-striped table-bordered">
  <thead class="bordered-blueberry">
  <tr>
    <th>#</th>
    <th>Descrição </th>
    <th>Rede</th>
    <th width="20"></th>
    <th width="20"></th>
    <th width="20"></th>

  </tr>
  </thead>

  <tbody>
  <% @equipes.each do |equipe| %>
      <tr>
        <td><%= equipe.id %></td>
        <td><%= equipe.descricao %></td>
        <td><%= equipe.rede %></td>
        <td>
          <%= link_to equipe, title: 'Visualizar', class: 'btn btn-default btn-xs shiny icon-only success' do %>
              <%= fa_icon 'search' %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_equipe_path(equipe), title: 'Editar', class: 'btn btn-default btn-xs shiny icon-only success' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
        </td>
        <td>
          <%= link_to equipe, title: 'Editar', class: 'btn btn-default btn-xs shiny icon-only success', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= fa_icon 'close' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
