<%= bootstrap_form_for(@membro, layout: :horizontal,  label_col: "col-sm-2", control_col: "col-sm-10", id: 'form-membro') do |g| %>

    <div class="form-group">
      <div class="col-md-4">
        <%= g.text_field :numero_cadastro, label: 'Cadastro', label_col:'col-sm-3',  control_col: 'col-sm-9'%>
      </div>

      <div class="col-md-4">
        <%= g.select(:igreja_id, @igreja_ops, {}) %>
      </div>


      <div class="col-md-4">
        <%= g.select(:cargo_id, @cargo_ops, {}) %>
      </div>
    </div>

    <div class="form-title">
      Dados Pessoais
    </div>

    <%= g.fields_for :pessoa do |p| %>

        <%= p.hidden_field :id %>

        <%= p.text_field :nome,  label_col:'col-sm-1', control_col: 'col-sm-11' %>

        <div class="form-group">

          <div class="col-md-6">
            <%= p.text_field :data_nascimento, value: (@membro.pessoa.data_nascimento.to_s(:br) unless @membro.pessoa.data_nascimento.nil?), type: 'text', class: 'form-control date-picker', data:{date_format: 'dd/mm/yyyy'} %>
          </div>

          <div class="col-md-6">
            <%= p.select(:estado_civil, Pessoa.estado_civis.keys, {}, {class: 'form-control'}) %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <%= p.text_field :rg, type: 'text', class: 'form-control' %>
          </div>

          <div class="col-md-6">
            <%= p.text_field :cpf, type: 'text', class: 'form-control formatar-cpf' %>
          </div>
        </div>

        <div class="databox-text darkgray" align="center">
          Título de Eleitor
        </div>

        <div class="form-group">

          <div class="col-md-3">
            <%= p.text_field :titulo_eleitor_data_emissao,  label_col:'col-sm-4', control_col: 'col-sm-6', label:'Data de Emissão', value: (@membro.pessoa.titulo_eleitor_data_emissao.to_s(:br) unless @membro.pessoa.titulo_eleitor_data_emissao.nil?), type: 'text', class: 'form-control date-picker', data:{date_format: 'dd/mm/yyyy'} %>
          </div>

          <div class="col-md-3">
            <%= p.text_field :titulo_eleitor_numero_inscricao,label_col:'col-sm-5', control_col: 'col-sm-6',  label:'Nº Inscrição'  %>
          </div>


          <div class="col-md-3">
            <%= p.text_field :titulo_eleitor_zona, label_col:'col-sm-4', control_col: 'col-sm-6', label:'Zona' %>
          </div>

          <div class="col-md-3">
            <%= p.text_field :titulo_eleitor_secao, label_col:'col-sm-4', control_col: 'col-sm-6',  label:'Seção' %>
          </div>
        </div>

        <% idx = 0 %>
        <% @membro.pessoa.pessoa_enderecos.each do |pe| %>

            <%= p.fields_for :pessoa_enderecos, pe do |pef| %>

                <%= pef.hidden_field :id %>
                <%= pef.hidden_field :descricao %>

                <div class="form-title">
                  Endereço <%= pe.descricao %>
                </div>

                <%= pef.fields_for :endereco do |edf| %>

                    <%= render 'enderecos/endereco', object: edf, idx: idx %>

                <% end %>

            <% end %>

            <% idx = idx + 1 %>

        <% end %>

        <div class="form-title">
          Contatos
        </div>
        <div class="form-group">
          <% @membro.pessoa.contatos.each do |ct| %>
              <%= p.fields_for :contatos, ct do |ctt| %>
                  <%= ctt.hidden_field :id %>
                  <%= ctt.hidden_field :tipo %>
                  <div class="col-md-4">
                    <%= ctt.text_field :descricao, label_col:'col-sm-3', control_col: 'col-sm-9',  label: ct.tipo.titleize%>
                  </div>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <div class="text-center">
        <%= link_to 'Listar', membros_path, class: 'btn btn-blue' %>

      <button type="submit" class="btn btn-default">Confirmar</button>

    </div>

<% end %>