<%= form_for(@membro, html: {class: 'form-horizontal', role: 'form'}) do |g| %>
    <div class="form-group">
      <%= g.label :cadastro, class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-3">
        <%= g.text_field :numero_cadastro, type: 'text', class: 'form-control' %>
      </div>

      <%= g.label 'Igreja', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-3">
        <%= g.select(:igreja_id, @igreja_ops, {}, {class: 'form-control'}) %>
      </div>

      <%= g.label 'Cargo', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-3">
        <%= g.select(:cargo_id, @cargo_ops, {}, {class: 'form-control'}) %>
      </div>
    </div>

    <div class="form-title">
      Dados Pessoais
    </div>

    <%= g.fields_for :pessoa do |p| %>
        <%= p.hidden_field :id %>
        <div class="form-group">
          <%= p.label :nome, class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-11">
            <%= p.text_field :nome, type: 'text', class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= p.label :data_nascimento, class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-5">
            <%= p.text_field :data_nascimento, value: @membro.pessoa.data_nascimento.to_s(:br), type: 'text', class: 'form-control date-picker', data:{date_format: 'dd/mm/yyyy'} %>
          </div>

          <%= p.label :estado_civil, class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-5">
            <%= p.select(:estado_civil, Pessoa.estado_civis.keys, {}, {class: 'form-control'}) %>
          </div>
        </div>

        <div class="form-group">
          <%= p.label :rg, 'RG', class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-5">
            <%= p.text_field :rg, type: 'text', class: 'form-control' %>
          </div>

          <%= p.label :cpf, 'CPF', class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-5">
            <%= p.text_field :cpf, type: 'text', class: 'form-control' %>
          </div>
        </div>

        <div class="form-title">
          Endereço
        </div>

        <% @membro.pessoa.enderecos.each do |ad| %>
            <%= p.fields_for :enderecos, ad do |endr| %>
                <%= endr.hidden_field :id %>
                <div class="form-group">
                  <%= endr.label :estado, class: 'col-md-1 control-label no-padding-right' %>
                  <div class="col-lg-5">
                    <%= endr.select :estado_id, options_for_select(@estados.collect { |country|
                      [country.nome.titleize, country.id] }, 1), {}, { id: 'estados_select', class: 'form-control' } %>
                  </div>

                  <%= endr.label :cidade, class: 'col-md-1 control-label no-padding-right' %>
                  <div class="col-lg-5">
                    <%= endr.select :cidade_id, options_for_select(@cidades.collect { |city|
                      [city.nome.titleize, city.id] }, 0), {}, { id: 'cidades_select', class: 'form-control' } %>
                  </div>
                </div>

                <div class="form-group">
                  <%= endr.label :logradouro, class: 'col-md-1 control-label no-padding-right' %>
                  <div class="col-lg-8">
                    <%= endr.text_field :logradouro, class: 'form-control' %>
                  </div>

                  <%= endr.label :numero, 'Número', class: 'col-md-1 control-label no-padding-right' %>
                  <div class="col-lg-2">
                    <%= endr.text_field :numero, class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <%= endr.label :cep, 'CEP', class: 'col-md-1 control-label no-padding-right' %>
                  <div class="col-lg-5">
                    <%= endr.text_field :cep, class: 'form-control' %>
                  </div>

                  <%= endr.fields_for :bairro  do |b| %>
                      <%= b.hidden_field :id %>
                      <%= b.label :nome, 'Bairro', class: 'col-md-1 control-label no-padding-right' %>
                      <div class="col-lg-5">
                        <%= b.text_field :nome, class: 'form-control' %>
                      </div>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= endr.label :complemento, class: 'col-md-1 control-label no-padding-right' %>
                  <div class="col-lg-11">
                    <%= endr.text_field  :complemento, class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <%= endr.label :ponto_referencia,'Ponto de Referência', class: 'col-md-1 control-label no-padding-right' %>
                  <div class="col-lg-11">
                    <%= endr.text_field  :ponto_referencia, class: 'form-control' %>
                  </div>
                </div>
            <% end %>
        <% end %>

        <div class="form-title">
          Contatos
        </div>
        <div class="form-group">
          <% @membro.pessoa.contatos.each do |ct| %>
              <%= p.fields_for :contatos, ct do |ctt| %>
                  <%= ctt.hidden_field :id %>
                  <%= ctt.hidden_field :tipo %>
                  <% if ct.email? %>
                      <%= ctt.label :descricao, 'E-mail', class: 'col-md-1 control-label no-padding-right' %>
                  <% elsif ct.telefone? %>
                      <%= ctt.label :descricao, 'Telefone', class: 'col-md-1 control-label no-padding-right' %>
                  <% end %>
                  <div class="col-md-5">
                    <%= ctt.text_field :descricao, class: 'form-control' %>
                  </div>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <br>

    <div class="form-group" align="center">
      <button type="submit" class="btn btn-default">Confirmar</button>
    </div>
<% end %>