<%= form_for(@membro, html: {class: 'form-horizontal', role: 'form'}) do |g| %>
    <div class="form-group">
      <%= g.label :cadastro, class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-3">
        <%= g.text_field :numero_cadastro, type: 'text', class: 'form-control' %>
      </div>

      <%= g.label 'Igreja', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-3">
        <%= g.select(:igreja_id, @igreja_ops, {}, {class: 'form-control'}) %>
      </div>

      <%= g.label 'Cargo', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-3">
        <%= g.select(:cargo_id, @cargo_ops, {}, {class: 'form-control'}) %>
      </div>
    </div>

    <div class="form-title">
      Dados Pessoais
    </div>

    <%= g.fields_for :pessoa do |p| %>
        <%= p.hidden_field :id %>
        <div class="form-group">
          <%= p.label :nome, class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-11">
            <%= p.text_field :nome, type: 'text', class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= p.label :data_nascimento, class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-5">
            <%= p.text_field :data_nascimento, value: (@membro.pessoa.data_nascimento.to_s(:br) unless @membro.pessoa.data_nascimento.nil?), type: 'text', class: 'form-control date-picker', data:{date_format: 'dd/mm/yyyy'} %>
          </div>

          <%= p.label :estado_civil, class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-5">
            <%= p.select(:estado_civil, Pessoa.estado_civis.keys, {}, {class: 'form-control'}) %>
          </div>
        </div>

        <div class="form-group">
          <%= p.label :rg, 'RG', class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-5">
            <%= p.text_field :rg, type: 'text', class: 'form-control' %>
          </div>

          <%= p.label :cpf, 'CPF', class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-5">
            <%= p.text_field :cpf, type: 'text', class: 'form-control formatar-cpf' %>
          </div>
        </div>

        <div class="databox-text darkgray" align="center">
          Título de Eleitor
        </div>

        <div class="form-group">
          <%= p.label :titulo_eleitor_data_emissao, 'Data de Emissão', class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-2">
            <%= p.text_field :titulo_eleitor_data_emissao, value: (@membro.pessoa.titulo_eleitor_data_emissao.to_s(:br) unless @membro.pessoa.titulo_eleitor_data_emissao.nil?), type: 'text', class: 'form-control date-picker', data:{date_format: 'dd/mm/yyyy'} %>
          </div>

          <%= p.label :titulo_eleitor_numero_inscricao, 'Nº Inscrição', class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-4">
            <%= p.text_field :titulo_eleitor_numero_inscricao, type: 'text', class: 'form-control' %>
          </div>

          <%= p.label :titulo_eleitor_zona, 'Zona', class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-1">
            <%= p.text_field :titulo_eleitor_zona, type: 'text', class: 'form-control' %>
          </div>

          <%= p.label :titulo_eleitor_secao, 'Seção', class: 'col-md-1 control-label no-padding-right' %>
          <div class="col-md-1">
            <%= p.text_field :titulo_eleitor_secao, type: 'text', class: 'form-control' %>
          </div>
        </div>

        <% idx = 0 %>
        <% @membro.pessoa.pessoa_enderecos.each do |pe| %>

            <%= p.fields_for :pessoa_enderecos, pe do |pef| %>

                <%= pef.hidden_field :id %>
                <%= pef.hidden_field :descricao %>
                <div class="form-title">
                  Endereço <%= pe.descricao %>
                </div>

                <%= pef.fields_for :endereco do |edf| %>

                    <%= edf.hidden_field :id %>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Logradouro</label>
                      <div class="col-lg-11">
                        <%= edf.text_field  :logradouro, class: 'form-control', placeholder: 'Logradouro'  %>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Número</label>
                      <div class="col-lg-11">
                        <%= edf.text_field  :numero, class: 'form-control', placeholder: 'Número'  %>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Estado</label>
                      <div class="col-lg-11">
                        <%= edf.select :estado_id, options_for_select(@estados.collect { |country|
                          [country.nome.titleize, country.id] }, 1), {}, { class: 'uf-select', id: "uf-#{idx}", data: {city_select: "cidade-#{idx}"} } %>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Cidade</label>
                      <div class="col-lg-11">
                        <%= edf.select :cidade_id, options_for_select(@cidades.collect { |city|
                          [city.nome.titleize, city.id] }, 0), {}, { id: "cidade-#{idx}" } %>
                      </div>
                    </div>

                    <%= edf.fields_for :bairro do |bf| %>
                        <div class="form-group">
                          <label class="col-lg-1 control-label">Bairro</label>
                          <div class="col-lg-11">
                            <%= bf.text_field :nome, class: 'form-control', placeholder: 'Bairro'  %>
                          </div>
                        </div>
                    <% end %>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Complemento</label>
                      <div class="col-lg-11">
                        <%= edf.text_field :complemento, class: 'form-control', placeholder: 'Complemento'  %>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Cep</label>
                      <div class="col-lg-11">
                        <%= edf.text_field  :cep, class: 'form-control', placeholder: 'Cep'  %>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Ponto de Referência</label>
                      <div class="col-lg-11">
                        <%= edf.text_field :ponto_referencia, class: 'form-control', placeholder: 'Ponto de Referência'  %>
                      </div>
                    </div>

                <% end %>

            <% end %>

            <% idx = idx + 1 %>

        <% end %>

        <div class="form-title">
          Contatos
        </div>
        <div class="form-group">
          <% @membro.pessoa.contatos.each do |ct| %>
              <%= p.fields_for :contatos, ct do |ctt| %>
                  <%= ctt.hidden_field :id %>
                  <%= ctt.hidden_field :tipo %>
                  <%= ctt.label :descricao, ct.tipo.titleize, class: 'col-md-1 control-label no-padding-right' %>
                  <div class="col-md-3">
                    <%= ctt.text_field :descricao, class: 'form-control' %>
                  </div>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <br>

    <div class="form-group" align="center">
      <button type="submit" class="btn btn-default">Confirmar</button>
    </div>
<% end %>