<%= bootstrap_form_for(@membro, layout: :horizontal,  label_col: "col-sm-2", control_col: "col-sm-10") do |g| %>

    <div class="form-group">


      <div class="col-md-4">
        <%= g.text_field :numero_cadastro, label: 'Cadastro', label_col:'col-sm-3',  control_col: 'col-sm-9'%>
      </div>

      <div class="col-md-4">
        <%= g.select(:igreja_id, @igreja_ops, {}) %>
      </div>


      <div class="col-md-4">
        <%= g.select(:cargo_id, @cargo_ops, {}) %>
      </div>
    </div>

    <div class="form-title">
      Dados Pessoais
    </div>

    <%= g.fields_for :pessoa do |p| %>
        <%= p.hidden_field :id %>


            <%= p.text_field :nome,  label_col:'col-sm-1', control_col: 'col-sm-11' %>

        <div class="form-group">

          <div class="col-md-6">
            <%= p.text_field :data_nascimento, value: (@membro.pessoa.data_nascimento.to_s(:br) unless @membro.pessoa.data_nascimento.nil?), type: 'text', class: 'form-control date-picker', data:{date_format: 'dd/mm/yyyy'} %>
          </div>

          <div class="col-md-6">
            <%= p.select(:estado_civil, Pessoa.estado_civis.keys, {}, {class: 'form-control'}) %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <%= p.text_field :rg, type: 'text', class: 'form-control' %>
          </div>

          <div class="col-md-6">
            <%= p.text_field :cpf, type: 'text', class: 'form-control formatar-cpf' %>
          </div>
        </div>

        <div class="databox-text darkgray" align="center">
          Título de Eleitor
        </div>

        <div class="form-group">

          <div class="col-md-3">
            <%= p.text_field :titulo_eleitor_data_emissao,  label_col:'col-sm-4', control_col: 'col-sm-6', label:'Data de Emissão', value: (@membro.pessoa.titulo_eleitor_data_emissao.to_s(:br) unless @membro.pessoa.titulo_eleitor_data_emissao.nil?), type: 'text', class: 'form-control date-picker', data:{date_format: 'dd/mm/yyyy'} %>
          </div>

          <div class="col-md-3">
            <%= p.text_field :titulo_eleitor_numero_inscricao,label_col:'col-sm-5', control_col: 'col-sm-6',  label:'Nº Inscrição'  %>
          </div>


          <div class="col-md-3">
            <%= p.text_field :titulo_eleitor_zona, label_col:'col-sm-4', control_col: 'col-sm-6', label:'Zona' %>
          </div>

          <div class="col-md-3">
            <%= p.text_field :titulo_eleitor_secao, label_col:'col-sm-4', control_col: 'col-sm-6',  label:'Seção' %>
          </div>
        </div>

        <% idx = 0 %>
        <% @membro.pessoa.pessoa_enderecos.each do |pe| %>

            <%= p.fields_for :pessoa_enderecos, pe do |pef| %>

                <%= pef.hidden_field :id %>
                <%= pef.hidden_field :descricao %>

                <div class="form-title">
                  Endereço <%= pe.descricao %>
                </div>

                <%= pef.fields_for :endereco do |edf| %>

                    <% if edf.object.bairro.nil? || edf.object.bairro.id == 0 %>

                        <input type="hidden" id="pais-value-select-<%= idx %>"  value = "<%= edf.object.pais_id %>" />
                        <input type="hidden" id="cidade-value-select-<%= idx %>"  value = "<%= edf.object.cidade_id %>" />
                        <input type="hidden" id="estado-value-select-<%= idx %>"  value = "<%= edf.object.estado_id %>" />
                        <input type="hidden" id="bairro-value-select-<%= idx %>"  value = "<%= edf.object.bairro_id %>" />

                    <% else %>
                        <input type="hidden" id="pais-value-select-<%= idx %>"  value = "<%= edf.object.bairro.cidade.estado.pais.id %>" />
                        <input type="hidden" id="cidade-value-select-<%= idx %>"  value = "<%= edf.object.bairro.cidade.id %>" />
                        <input type="hidden" id="estado-value-select-<%= idx %>"  value = "<%= edf.object.bairro.cidade.estado.id %>" />
                        <input type="hidden" id="bairro-value-select-<%= idx %>"  value = "<%= edf.object.bairro.id %>" />
                    <% end %>

                    <%= edf.hidden_field :id %>

                    <%= edf.text_field  :logradouro, label_col:'col-sm-1', control_col: 'col-sm-11' %>

                    <%= edf.text_field  :numero,label_col:'col-sm-1', control_col: 'col-sm-11'  %>

                    <%= edf.select :pais_id,  @paises_ops , {label_col:'col-sm-1', control_col: 'col-sm-11'}, class: 'pais-select', id: "pais-#{idx}", data: {estado_select: "estado-#{idx}", indice: idx}  %>

                    <%= edf.select :estado_id,  @estados_ops , {label_col:'col-sm-1', control_col: 'col-sm-11'}, class: 'uf-select', id: "uf-#{idx}", data: {city_select: "cidade-#{idx}", indice: idx}  %>

                    <div id="show-estado-<%= idx %>"  class="hide" >
                        <%= edf.text_field  :estado_novo  ,label_col:'col-sm-1', control_col: 'col-sm-11',  placeholder: 'Estado Novo', id: "estado-novo-#{idx}"  %>
                    </div>

                    <%= edf.select :cidade_id, @cidades_ops ,  {label_col:'col-sm-1', control_col: 'col-sm-11'}, class: 'cidade-select',  id: "cidade-#{idx}", data: {bairro_select: "bairro-#{idx}", indice: idx}  %>

                    <%= edf.select :bairro_id, @bairros_ops , {label_col:'col-sm-1', control_col: 'col-sm-11'}, { id: "bairro-#{idx}" } %>

                    <%= edf.text_field :complemento, label_col:'col-sm-1', control_col: 'col-sm-11'  %>

                    <%= edf.text_field  :cep,label_col:'col-sm-1', control_col: 'col-sm-11'  %>

                    <%= edf.text_field :ponto_referencia, label_col:'col-sm-1', control_col: 'col-sm-11'  %>

                <% end %>

            <% end %>

            <% idx = idx + 1 %>

        <% end %>

        <div class="form-title">
          Contatos
        </div>
        <div class="form-group">
          <% @membro.pessoa.contatos.each do |ct| %>
              <%= p.fields_for :contatos, ct do |ctt| %>
                  <%= ctt.hidden_field :id %>
                  <%= ctt.hidden_field :tipo %>
                  <div class="col-md-4">
                    <%= ctt.text_field :descricao, label_col:'col-sm-3', control_col: 'col-sm-9',  label: ct.tipo.titleize%>
                  </div>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <br>

    <div class="form-group" align="center">
      <button type="submit" class="btn btn-default">Confirmar</button>
    </div>
<% end %>