<%= search_form_for @q, url: search_membros_path, html: { method: :post } do |f| %>

    <div class="form-group">

      <%= f.label :pessoa_nome_cont, 'Nome', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-sm-11">
        <%= f.search_field :pessoa_nome_cont, class: 'form-control' %>
      </div>

    </div>

    <div class="form-group">

      <%= f.label :igreja_id_eq, 'Igreja', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-5">
        <%= f.select(:igreja_id_eq, @igreja_ops, {include_blank: 'Todas'}, {class: 'form-control'}) %>
      </div>

      <%= f.label :cargo_id_eq, 'Cargo', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-5">
        <%= f.select(:cargo_id_eq, @cargo_ops, {include_blank: 'Todos'}, {class: 'form-control'}) %>
      </div>

    </div>

    <div class="form-group">

      <div class="col-sm-12 text-right">
        <%= link_to '#', title: 'Filtrar', class: 'btn btn-info btn-circle btn-xs btn-search', data: {action: search_membros_path} do %>
            <%= fa_icon 'search' %>
        <% end %>
        <%= link_to new_membro_path, title: 'Novo', class: 'btn btn-success btn-circle btn-xs' do %>
            <%= fa_icon 'plus' %>
        <% end %>
        <%= link_to '#', title: 'Imprimir', class: 'btn btn-success btn-circle btn-xs btn-report', data: {action: report_membros_path(format: 'pdf')} do %>
            <%= fa_icon 'print' %>
        <% end %>
      </div>

    </div>

    <div class="form-group">

      <div class="col-sm-12">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th><%= sort_link(@q, :numero_cadastro, 'Cadastro', default_order: :asc) %></th>
            <th><%= sort_link(@q, :pessoa_nome, 'Nome', default_order: :asc) %></th>
            <th><%= sort_link(@q, :igreja_descricao, 'Igreja', default_order: :asc) %></th>
            <th><%= sort_link(@q, :cargo_descricao, 'Cargo', default_order: :asc) %></th>
            <th width="20"></th>
            <th width="20"></th>
            <th width="20"></th>
            <th width="20"></th>
            <th width="20"></th>
          </tr>
          </thead>
          <tbody>
          <% @membros.each do |m| %>
              <tr>
                <td><%= m.numero_cadastro %></td>
                <td>
                  <% if not m.pessoa.nil? %>
                      <%= m.pessoa.nome %>
                  <% end %>
                </td>
                <td>
                  <% if not m.igreja.nil? %>
                      <%= m.igreja.descricao %>
                  <% end %>
                </td>
                <td>
                  <% if not m.cargo.nil? %>
                      <%= m.cargo.descricao %>
                  <% end %>
                </td>
                <td>
                  <%= link_to m, title: 'Visualizar', class: 'btn btn-default icon-only btn-xs' do %>
                      <%= fa_icon 'search' %>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_membro_path(m), title: 'Alterar', class: 'btn btn-default icon-only btn-xs' do %>
                      <%= fa_icon 'pencil' %>
                  <% end %>
                </td>
                <td>
                  <%= link_to new_membro_contribuicao_path(m), title: 'Cadastrar Contribuição', class: 'btn btn-default icon-only btn-xs' do %>
                      <%= fa_icon 'money' %>
                  <% end %>
                </td>
                <td>
                  <%= link_to membro_contribuicoes_path(m), title: 'Listar Contribuições', class: 'btn btn-default icon-only btn-xs' do %>
                      <%= fa_icon 'th-list' %>
                  <% end %>
                </td>
                <td>
                  <% if m.cargo.lideranca? && m.user.nil? %>

                      <%= link_to new_usuario_url + "?membro_id=#{m.id}", title: 'Cadastrar Usuário para o Membro', class: 'btn btn-default icon-only btn-xs' do %>
                          <%= fa_icon 'user' %>
                      <% end %>

                  <% end %>
                </td>
              </tr>
          <%end%>
          </tbody>
        </table>
      </div>

    </div>

<% end %>