<%= bootstrap_form_for(@igreja, layout: :horizontal,  label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>

    <div class="form-title">
      Informações
    </div>

    <%= f.text_field :descricao, label: 'Descrição', label_col:'col-sm-1', control_col: 'col-sm-11', label_class: 'no-padding-right' %>

    <% if @igreja.id? %>
        <%= f.select :responsavel_id,  @resonsaveis , {label_col:'col-sm-1', control_col: 'col-sm-11', label_class: 'no-padding-right'}  %>
    <% end %>

    <% idx = 0 %>
    <% @igreja.igreja_enderecos.each do |ie| %>

        <%= f.fields_for :igreja_enderecos, ie do |ief| %>

            <%= ief.hidden_field :id %>
            <%= ief.hidden_field :descricao %>
            <div class="form-title">
              Endereço <%= ie.descricao %>
            </div>

            <%= ief.fields_for :endereco do |edf| %>

                <%= render 'enderecos/endereco', object: edf, idx: idx %>

            <% end %>

        <% end %>

        <% idx = idx + 1 %>

    <% end %>

    <div class="form-title">
      Contatos
    </div>
    <div class="form-group">
      <% @igreja.contatos.each do |ct| %>
          <%= f.fields_for :contatos, ct do |ctt| %>
              <%= ctt.hidden_field :id %>
              <%= ctt.hidden_field :tipo %>
              <div class="col-md-6">
                <%= ctt.text_field :descricao, label: ct.tipo.titleize, label_class: 'no-padding-right' %>
              </div>
          <% end %>
      <% end %>
    </div>

    <div class="text-center">
        <%= link_to 'Listar', igrejas_path, class: 'btn btn-blue' %>
        <%= f.submit class: 'btn btn-blue' %>
    </div>


<% end %>

