<%= form_for @igreja, :html => {:class => "form-horizontal"}  do |f|  %>

    <% if @igreja.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@igreja.errors.count, "error") %> não pode ser salvo, contato o suporte!</h2>
          <ul>
            <% @igreja.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-title">
      Informações
    </div>

    <div class="form-group">
         <label class="col-lg-1 control-label">Descrição</label>
         <div class="col-lg-11">
          <%= f.text_field  :descricao, class: 'form-control', placeholder: 'Descrição'  %>
         </div>
    </div>

    <div class="form-title">
      Endereço
    </div>

    <%= f.fields_for :enderecos  do |endereco| %>

        <div class="form-group">
          <label class="col-lg-1 control-label">Logradouro</label>
          <div class="col-lg-11">
            <%= endereco.text_field  :logradouro, class: 'form-control ', placeholder: 'Logradouro    '  %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-1 control-label">Número</label>
          <div class="col-lg-11">
            <%= endereco.text_field  :numero, class: 'form-control', placeholder: 'Número'  %>
          </div>
        </div>

        <%= endereco.fields_for :bairro  do |bairro| %>
            <div class="form-group">
              <label class="col-lg-1 control-label">Bairro</label>
              <div class="col-lg-11">
                <%= bairro.text_field  :nome, class: 'form-control', placeholder: 'Bairro'  %>
              </div>
            </div>
        <% end %>

        <div class="form-group">
          <label class="col-lg-1 control-label">Cidade</label>
          <div class="col-lg-11">
            <%= endereco.select :estado_id, options_for_select(@estados.collect { |country|
                                                       [country.nome.titleize, country.id] }, 1), {}, { id: 'estados_select' } %>
            </div>
        </div>
          <div class="form-group">
          <label class="col-lg-1 control-label">Estado</label>
          <div class="col-lg-11">
            <%= endereco.select :cidade_id, options_for_select(@cidades.collect { |city|
                                                    [city.nome.titleize, city.id] }, 0), {}, { id: 'cidades_select' } %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-1 control-label">Complemento</label>
          <div class="col-lg-11">
            <%= endereco.text_field  :complemento, class: 'form-control', placeholder: 'Complemento'  %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-1 control-label">Cep</label>
          <div class="col-lg-11">
            <%= endereco.text_field  :cep, class: 'form-control', placeholder: 'Cep'  %>
          </div>
        </div>


    <% end %>

    <div class="form-title">
      Contatos
    </div>

    <div id="igreja-contatos">

        <%=	f.fields_for :igreja_contatos do |ic|  %>

            <%= render 'contato_fields', :g => ic %>

        <% end %>

    </div>

    <%= link_to 'Listar', igrejas_path, class: 'btn btn-blue' %>

    <%= f.submit class: 'btn btn-blue' %>

<% end %>

