<form action="" class="form-horizontal">

<div class="form-title">
  Informações
</div>

<div class="form-group">
  <label class="col-lg-1 control-label">Descrição</label>
  <div class="col-lg-11">
    <input type="text" class='form-control' disabled value="<%=	 @igreja.descricao  %>">
  </div>
</div>

<div class="form-group">
  <label class="col-lg-1 control-label">Responsável</label>
  <div class="col-lg-11">
    <input type="text" class='form-control' disabled value="<%= @igreja.responsavel.pessoa.nome unless @igreja.responsavel.nil? %>">
  </div>
</div>

<% @igreja.igreja_enderecos.each do |pe| %>

    <div class="form-title">
      Endereço <%= pe.descricao %>
    </div>

    <div class="form-group">
      <%= label_tag :pessoa_endereco_logradouro, 'Logradouro', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-8">
        <%= text_field_tag :pessoa_endereco_logradouro, pe.endereco.logradouro, class: 'form-control', disabled: 'disabled' %>
      </div>


      <%= label_tag :pessoa_endereco_numero, 'Número', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-2">
        <%= text_field_tag :pessoa_endereco_numero, pe.endereco.numero, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :pessoa_endereco_complemento, 'Complemento', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-11">
        <%= text_field_tag :pessoa_endereco_complemento, pe.endereco.complemento, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>

    <div class="form-group">

      <%= label_tag :pessoa_endereco_estado, 'Pais', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-5">
        <%= text_field_tag :pessoa_endereco_estado, pe.endereco.bairro.cidade.estado.pais.nome, class: 'form-control', disabled: 'disabled' %>
      </div>


      <%= label_tag :pessoa_endereco_estado, 'Estado', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-5">
        <%= text_field_tag :pessoa_endereco_estado, pe.endereco.bairro.cidade.estado.nome, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>

    <div class="form-group">

      <%= label_tag :pessoa_endereco_cidade, 'Cidade', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-5">
        <%= text_field_tag :pessoa_endereco_cidade, pe.endereco.bairro.cidade.nome, class: 'form-control', disabled: 'disabled' %>
      </div>

      <%= label_tag :pessoa_endereco_cidade, 'Bairro', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-5">
        <%= text_field_tag :pessoa_endereco_cidade, pe.endereco.bairro.nome, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>

    <div class="form-group">

      <%= label_tag :pessoa_endereco_cep, 'Cep', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-11">
        <%= text_field_tag :pessoa_endereco_cep, pe.endereco.cep, class: 'form-control', disabled: 'disabled' %>
      </div>

    </div>


    <div class="form-group">
      <%= label_tag :pessoa_endereco_ponto_referencia, 'Ponto de Referência', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-11">
        <%= text_field_tag :pessoa_endereco_ponto_referencia, pe.endereco.ponto_referencia, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>
<% end %>


<div class="form-title">
  Contato
</div>

<div class="form-group">

  <%	@igreja.contatos.each do |contato|  %>

      <label class="col-lg-1 control-label"><%= contato.tipo.titleize %></label>
      <div class="col-lg-5">
        <input type="text" class='form-control' disabled value="<%= contato.descricao %>">
      </div>

  <% end %>

</div>

<div class="text-center">
  <%= link_to 'Listar', igrejas_path, class: 'btn btn-blue' %>
  <%= link_to 'Editar', edit_igreja_path(@igreja), class: 'btn btn-blue' %>
</div>

</form>

