<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget flat radius-bordered">
      <div class="widget-header bg-blue">
        <span class="widget-caption">Cadastro</span>
      </div>
      <div class="widget-body">
        <div id="registration-form">

            <form action="" class="form-horizontal">

                <div class="form-title">
                  Informações
                </div>

                <div class="form-group">
                  <label class="col-lg-1 control-label">Descrição</label>
                  <div class="col-lg-11">
                    <input type="text" class='form-control' disabled value="<%=	 @igreja.descricao  %>">
                  </div>
                </div>

                <div class="form-title">
                  Endereço
                </div>
                    <% @igreja.enderecos.each do |endereco| %>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Logradouro</label>
                      <div class="col-lg-11">
                        <input type="text" class='form-control' disabled value="<%=	 endereco.logradouro %>">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Número</label>
                      <div class="col-lg-11">
                        <input type="text" class='form-control' disabled value="<%=	 endereco.numero %>">
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-lg-1 control-label">Bairro</label>
                      <div class="col-lg-11">
                        <input type="text" class='form-control' disabled value="<%=	 endereco.bairro.nome %>">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Complemento</label>
                      <div class="col-lg-11">
                        <input type="text" class='form-control' disabled value="<%=	 endereco.complemento %>">
                      </div>
                    </div>

                  <div class="form-group">
                    <label class="col-lg-1 control-label">Cidade</label>
                    <div class="col-lg-11">
                      <input type="text" class='form-control' disabled value="<%=	 endereco.cidade.nome %>">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-1 control-label">Estado</label>
                    <div class="col-lg-11">
                      <input type="text" class='form-control' disabled value="<%=	 endereco.cidade.estado.nome %>">
                    </div>
                  </div>

                    <div class="form-group">
                      <label class="col-lg-1 control-label">Cep</label>
                      <div class="col-lg-11">
                        <input type="text" class='form-control' disabled value="<%=	 endereco.cep %>">
                      </div>
                    </div>



                  <%  end  %>

                <div class="form-title">
                    Contato
                </div>


                  <%	@igreja.igreja_contatos.each do |contato|  %>
                      <div class="form-group">
                        <label class="col-lg-1 control-label">Descrição</label>
                        <div class="col-lg-11">
                          <input type="text" class='form-control' disabled value="<%= contato.descricao %>">
                        </div>
                      </div>
                  <% end %>

                <%= link_to 'Listar', igrejas_path, class: 'btn btn-blue' %>
                <%= link_to 'Editar', edit_igreja_path(@igreja), class: 'btn btn-blue' %>

                </form>


        </div>
      </div>
    </div>
  </div>
</div>
