<% if object.object.bairro.nil? || object.object.bairro.id == 0 %>

    <input type="hidden" id="pais-value-select-<%= idx %>"  value = "<%= object.object.pais_id %>" />
    <input type="hidden" id="cidade-value-select-<%= idx %>"  value = "<%= object.object.cidade_id %>" />
    <input type="hidden" id="estado-value-select-<%= idx %>"  value = "<%= object.object.estado_id %>" />
    <input type="hidden" id="bairro-value-select-<%= idx %>"  value = "<%= object.object.bairro_id %>" />

<% else %>

    <input type="hidden" id="pais-value-select-<%= idx %>"  value = "<%= object.object.bairro.cidade.estado.pais.id %>" />
    <input type="hidden" id="cidade-value-select-<%= idx %>"  value = "<%= object.object.bairro.cidade.id %>" />
    <input type="hidden" id="estado-value-select-<%= idx %>"  value = "<%= object.object.bairro.cidade.estado.id %>" />
    <input type="hidden" id="bairro-value-select-<%= idx %>"  value = "<%= object.object.bairro.id %>" />

<% end %>

<%= object.hidden_field :id %>

<% if idx == 0 %>

    <%= object.text_field :logradouro, label_col:'col-sm-1', control_col: 'col-sm-11', label_class: 'no-padding-right', required: true,  data: {bv_notempty_message:"Campo obrigatório"} %>

<% else %>

    <%= object.text_field :logradouro, label_col:'col-sm-1', control_col: 'col-sm-11', label_class: 'no-padding-right' %>

<% end %>

<%= object.text_field :numero,label_col:'col-sm-1', control_col: 'col-sm-11', label_class: 'no-padding-right'  %>

<div class="form-group">
  <div class="col-sm-11">
    <%= object.select :pais_id, [], {label_col:'col-sm-1', control_col: 'col-sm-11'}, class: 'pais-select', id: "pais-#{idx}", data: {estado_select: "uf-#{idx}", indice: idx}  %>
  </div>
  <div class="col-sm-1">
    <a href="#" class="btn btn-circle btn-sky btn-xs modal-endereco"  data-indice="<%= idx %>" data-title="Pais" data-tipo="pais"><i class="fa fa-plus"></i></a>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-11">
    <%= object.select :estado_id,  [], {label_col:'col-sm-1', control_col: 'col-sm-11'}, class: 'uf-select', id: "uf-#{idx}", data: {city_select: "cidade-#{idx}", indice: idx}  %>
  </div>
  <div class="col-sm-1">
    <a href="#" class="btn btn-circle btn-sky btn-xs modal-endereco"  data-indice="<%= idx %>" data-title="Estado" data-tipo="estado"><i class="fa fa-plus"></i></a>
  </div>
</div>

<div class="form-group">
    <div class="col-sm-11">
        <%= object.select :cidade_id, [],  {label_col:'col-sm-1', control_col: 'col-sm-11'}, class: 'cidade-select',  id: "cidade-#{idx}", data: {bairro_select: "bairro-#{idx}", indice: idx}  %>
    </div>
    <div class="col-sm-1">
        <a href="#" class="btn btn-circle btn-sky btn-xs modal-endereco"  data-indice="<%= idx %>" data-title="Cidade" data-tipo="cidade"><i class="fa fa-plus"></i></a>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-11">
        <%= object.select :bairro_id, [], {label_col:'col-sm-1', control_col: 'col-sm-11'}, { id: "bairro-#{idx}" } %>
    </div>
    <div class="col-sm-1">
        <a href="#" class="btn btn-circle btn-sky btn-xs modal-endereco"  data-indice="<%= idx %>" data-title="Bairro" data-tipo="bairro"><i class="fa fa-plus"></i></a>
    </div>
</div>

<%= object.text_field :complemento, label_col:'col-sm-1', control_col: 'col-sm-11', label_class: 'no-padding-right'  %>

<%= object.text_field  :cep,label_col:'col-sm-1', control_col: 'col-sm-11', label_class: 'no-padding-right'  %>

<%= object.text_field :ponto_referencia, label_col:'col-sm-1', control_col: 'col-sm-11', label_class: 'no-padding-right' %>