<%= form_for @sub_equipe, :html => {:class => "form-horizontal"} do |f| %>

  <% if @sub_equipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_equipe.errors.count, "error") %> erros </h2>
      <ul>
      <% @sub_equipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
        <label class="col-lg-1 control-label">Descrição</label>
        <div class="col-lg-11">
            <%= f.text_field  :descricao, class: 'form-control', placeholder: 'Descrição'  %>
        </div>
    </div>

    <div class="form-group">
      <label class="col-lg-1 control-label">Rede</label>
      <div class="col-lg-11">
        <%=  f.collection_select(:equipe_id,  @equipes , :id, :descricao, { :prompt => true  } )    %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-1 control-label">Responsável</label>
      <div class="col-lg-11">
        <%=  f.collection_select(:responsavel_id,  @responsaveis , :id, :pessoa, { :prompt => true  } )    %>
      </div>
    </div>

    <%= link_to 'Listar', sub_equipes_path, class: 'btn btn-blue' %>

    <%= f.submit class: 'btn btn-blue' %>

<% end %>
