<%= bootstrap_form_tag url: '/filtrar' do |f| %>

    <div class="form-group">
      <div class="col-sm-12 text-right" style="padding-bottom: 5px">
        <%= link_to new_sub_equipe_path, title: 'Novo', class: 'btn btn-success btn-circle btn-xs' do %>
            <%= fa_icon 'plus' %>
        <% end %>
      </div>
      <div class="col-sm-12">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Equipe</th>
            <th>Rede</th>
            <th>Igreja</th>
            <th>Responsável</th>
            <th width="20"></th>
            <th width="20"></th>

          </tr>
          </thead>

          <tbody>
          <% @sub_equipes.each do |sub_equipe| %>
              <tr>
                <td><%= sub_equipe.id %></td>
                <td><%= sub_equipe.descricao %></td>
                <td><%= sub_equipe.equipe %></td>
                <td><%= sub_equipe.equipe.rede %></td>
                <td><%= sub_equipe.equipe.rede.igreja %></td>
                <td><%= sub_equipe.responsavel.pessoa.nome %></td>
                <td>
                  <%= link_to sub_equipe, title: 'Visualizar', class: 'btn btn-default btn-xs icon-only' do %>
                      <%= fa_icon 'search' %>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_sub_equipe_path(sub_equipe), title: 'Editar', class: 'btn btn-default btn-xs icon-only' do %>
                      <%= fa_icon 'pencil' %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

<% end %>