<%= form_for [@membro, @contribuicao] do |f| %>



    <%= render 'layouts/erros', object: @contribuicao %>


    <div class="form-group">
      <%= f.label :data, 'Data', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-3">
            <%= f.text_field :data, value: (@contribuicao.data.to_s(:br) unless @contribuicao.data.nil?), type: 'text', class: 'form-control date-picker', data:{date_format: 'dd/mm/yyyy'} %>
      </div>

      <%= f.label :tipo_contribuicao_id, 'Tipo', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-3">
        <%= f.select(:tipo_contribuicao_id, @tipo_ops, {}, {class: 'form-control'}) %>
      </div>

      <%= f.label :valor, class: 'col-md-1 control-label no-padding-right' %>

      <div class="col-md-3">
        <%= f.text_field :valor, type: 'text', class: 'form-control formatarMoeda', :value => number_to_currency(f.object.valor)%>
      </div>
    </div>

    <br>

    <div class="form-group" align="center">
      <button type="submit" class="btn btn-default">Confirmar</button>
    </div>

<% end %>
