<%= bootstrap_form_tag url: '/filtrar' do |f| %>

    <div class="form-group">
      <div class="col-sm-12 text-right" style="padding-bottom: 5px">
        <%= link_to membros_path, title: 'Listar Membros', class: 'btn btn-success btn-circle btn-xs' do %>
            <%= fa_icon 'arrow-left' %>
        <% end %>
        <%= link_to new_membro_contribuicao_path(@membro), title: 'Novo', class: 'btn btn-success btn-circle btn-xs' do %>
            <%= fa_icon 'plus' %>
        <% end %>

        <%= link_to '#', title: 'Imprimir', class: 'btn btn-success btn-circle btn-xs btn-report', data: {action: report_membro_contribuicoes_path(format: 'pdf')} do %>
            <%= fa_icon 'print' %>
        <% end %>

      </div>
      <div class="col-sm-12">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th width="20"></th>
          </tr>
          </thead>
          <tbody>
          <% @contribuicoes.each do |c| %>
              <tr>
                <td><%= c.data.to_s(:br) unless c.data.nil? %></td>
                <td><%= c.tipo_contribuicao.descricao %></td>
                <td><%= number_to_currency(c.valor) %></td>
                <td>
                  <%= link_to edit_membro_contribuicao_path(c.membro, c), title: 'Alterar', class: 'btn btn-default btn-xs icon-only' do %>
                      <%= fa_icon 'pencil' %>
                  <% end %>
                </td>

              </tr>
          <%end%>
          </tbody>
        </table>
      </div>
    </div>

<% end %>
