<div class="form-group">

  <%= label_tag :cadastro, nil, class: 'col-sm-1 control-label no-padding-right' %>
  <div class="col-sm-2">
    <%= number_field_tag :cadastro, nil, {class: 'form-control'} %>
  </div>

  <%= label_tag :nome, nil, class: 'col-sm-1 control-label no-padding-right' %>
  <div class="col-sm-8">
    <%= text_field_tag :nome, nil, {class: 'form-control'} %>
  </div>

</div>

<div class="form-group">

  <%= label_tag :cargo_id, nil, class: 'col-sm-1 control-label no-padding-right' %>
  <div class="col-sm-5">
    <%= select_tag :cargo_id, nil, {class: 'form-control'} %>
  </div>

  <%= label_tag :igreja_id, nil, class: 'col-sm-1 control-label no-padding-right' %>
  <div class="col-sm-5">
    <%= select_tag :igreja_id, nil, {class: 'form-control'} %>
  </div>

</div>

<div class="form-group">

  <%= label_tag :rede_id, nil, class: 'col-sm-1 control-label no-padding-right' %>
  <div class="col-sm-5">
    <%= select_tag :rede_id, nil, {class: 'form-control'} %>
  </div>

  <%= label_tag :equipe_id, nil, class: 'col-sm-1 control-label no-padding-right' %>
  <div class="col-sm-5">
    <%= select_tag :equipe_id, nil, {class: 'form-control'} %>
  </div>

</div>

<div class="form-group">

  <%= label_tag :sub_equipe_id, nil, class: 'col-sm-1 control-label no-padding-right' %>
  <div class="col-sm-5">
    <%= select_tag :sub_equipe_id, nil, {class: 'form-control'} %>
  </div>

  <%= label_tag :celula_id, nil, class: 'col-sm-1 control-label no-padding-right' %>
  <div class="col-sm-5">
    <%= select_tag :celula_id, nil, {class: 'form-control'} %>
  </div>

</div>