<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
  <!-- Page Sidebar Header-->
  <div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
  </div>
  <!-- /Page Sidebar Header -->
  <!-- Sidebar Menu -->
  <ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li>
      <%= link_to '#' do %>
        <%= fa_icon 'home', class: 'menu-icon' %>
        <span class="menu-text"> Dashboard </span>
      <% end %>
    </li>
    <!--Configuracao-->
    <% if current_user.tem_permissao(['permissaoUsuario', 'permissaoGrupo']) %>
        <li>
          <%= link_to '#', class: 'menu-dropdown' do %>
              <%= fa_icon 'home', class: 'menu-icon' %>
              <span class="menu-text"> Configuração </span>
              <i class="menu-expand"></i>
          <% end %>

          <% if current_user.tem_permissao(['permissaoUsuario', 'permissaoGrupo']) %>
              <ul class="submenu">
                <li>
                  <%= link_to '#', class: 'menu-dropdown' do %>
                      <span class="menu-text"> Usuários </span>
                      <i class="menu-expand"></i>
                  <% end %>

                  <ul class="submenu">
                    <li>
                      <%= link_to '#', class: 'menu-dropdown' do %>
                          <span class="menu-text"> Grupos de Usuário </span>
                          <i class="menu-expand"></i>
                      <% end %>

                      <ul class="submenu">
                        <li>
                          <%= link_to '#' do %>
                              <%= fa_icon 'rocket', class: 'menu-icon' %>
                              <span class="menu-text"> Listar </span>
                          <% end %>
                        </li>
                      </ul>
                    </li>
                  </ul>

                </li>
              </ul>
          <% end %>
        </li>
    <% end %>
  </ul>
  <!-- /Sidebar Menu -->
</div>
<!-- /Page Sidebar -->
