<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
  <ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li>
      <%= link_to root_path do %>
        <%= fa_icon 'home', class: 'menu-icon' %>
        <span class="menu-text"> Dashboard </span>
      <% end %>
    </li>

    <li>
      <%= link_to igrejas_path do %>
          <%= fa_icon 'home', class: 'menu-icon' %>
          <span class="menu-text"> Igreja </span>
      <% end %>
    </li>

    <li>
      <%= link_to redes_path do %>
          <%= fa_icon 'home', class: 'menu-icon' %>
          <span class="menu-text"> Redes </span>
      <% end %>
    </li>

    <li>
      <%= link_to equipes_path do %>
          <%= fa_icon 'home', class: 'menu-icon' %>
          <span class="menu-text"> Equipes </span>
      <% end %>
    </li>

    <li>
      <%= link_to sub_equipes_path do %>
          <%= fa_icon 'home', class: 'menu-icon' %>
          <span class="menu-text"> Sub Equipes </span>
      <% end %>
    </li>

    <!--Configuracao-->
    <% if current_user.tem_permissao(['permissaoUsuario', 'permissaoGrupo']) %>
        <li>
          <%= link_to '#', class: 'menu-dropdown' do %>
              <%= fa_icon 'home', class: 'menu-icon' %>
              <span class="menu-text"> Configuração </span>
              <i class="menu-expand"></i>
          <% end %>

          <% if current_user.tem_permissao(['permissaoUsuario', 'permissaoGrupo']) %>
              <ul class="submenu">
                <li>
                  <%= link_to '#', class: 'menu-dropdown' do %>
                      <span class="menu-text"> Usuários </span>
                      <i class="menu-expand"></i>
                  <% end %>

                  <ul class="submenu">

                    <li>
                      <%= link_to usuarios_path do %>
                          <%= fa_icon 'rocket', class: 'menu-icon' %>
                          <span class="menu-text"> Listar </span>
                      <% end %>
                    </li>

                    <% if not current_user.permissao('permissaoGrupo').nenhuma? %>
                        <li>
                          <%= link_to '#', class: 'menu-dropdown' do %>
                              <span class="menu-text"> Grupos de Usuário </span>
                              <i class="menu-expand"></i>
                          <% end %>

                          <ul class="submenu">

                            <li>
                              <%= link_to grupos_path do %>
                                  <%= fa_icon 'rocket', class: 'menu-icon' %>
                                  <span class="menu-text"> Listar </span>
                              <% end %>
                            </li>
                          </ul>
                        </li>
                    <% end %>
                  </ul>

                </li>
              </ul>
          <% end %>
        </li>
    <% end %>
  </ul>
  <!-- /Sidebar Menu -->
</div>
<!-- /Page Sidebar -->
