<!DOCTYPE html>
<html>
<head>
  <title>Rorbaseproject</title>

  <!--Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/shared/flash' %>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>