<%= devise_error_messages! %>

<div class="register-container animated fadeInDown">
  <div class="registerbox bg-white">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="registerbox-title">Cadastre-se</div>

        <div class="registerbox-caption">Por favor, preencha as suas informações</div>

        <div class="registerbox-textbox">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: :email %>
        </div>

        <div class="registerbox-textbox">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres, no mínimo)</em>
          <% end %>
        </div>

        <div class="registerbox-textbox">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: :password_confirmation %>
        </div>

        <div class="registerbox-submit">
          <%= f.submit "Cadastrar", class: "btn btn-primary pull-right" %>
        </div>

    <% end %>

  </div>
</div>